<h1>
    URL 
</h1>
<form action="/api/sht" method="POST">
<label>
    URL to be Shorten
</label><br>
<input type="text" name="original_url" />
<br/>
<label>
    Short URL
</label>
<input type="number" name="counter" />
<br/>
<input type="submit"  value="POST">
<br>
</form>